################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MusicStore/.vs/MusicStore
/MusicStore/MusicStore.ConApp/obj
/MusicStore/MusicStore.Logic/obj
/MusicStore/MusicStore.ConApp/bin/Debug/net8.0
/MusicStore/MusicStore.Logic/bin/Debug/net8.0
